.App {
  font-family: Roboto;
  text-align: center;
  background: no-repeat center/contain url("img/rick-and-morty-portal-shoes-white-clothing-zavvi-23.png");

}

.App-header {
  background: no-repeat left/contain url("img/PikPng.com_rick-and-morty-logo_1058513.png");
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid darkblue;
}

